.App {
  text-align: left;
  background-color: #282c34;
  color: white;
  height: 100vh;

  padding-inline: 20px;
}

h1 {
  text-align: left;
}

.App-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid white;
}
