html {
  background-color: #282c34;
}

.App {
  text-align: left;
  color: white;

  padding-inline: 20px;
}

h1 {
  text-align: left;
}

.App-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid white;
}

.table-header {
  display: flex;
  justify-content: space-between;
}
